# — Demais libs (instaladas depois, sem constraints)
psycopg2-binary==2.9.9
SQLAlchemy>=1.4,<2.0

fastapi>=0.112,<0.113        # usa Pydantic 2
uvicorn[standard]>=0.28,<0.29
numpy>=1.26,<2.0
pandas>=2.1,<3.0
